<h4>List of Payments</h4>
<div *ngFor="let payment of payments$ | async; let i=index" class="aegis-margin-bottom-2">

    <span>{{i+1}}. Credit Card Number: </span> {{payment.creditCardNumber}}
    <span>Card Holder: </span> {{payment.cardHolder}}
    <span>Expiration Date: </span> {{payment.expirationDate}}
    <span>Security Code: </span> {{payment.securityCode}}
    <span>Amount: </span> {{payment.amount}}

</div>

<button routerLink="/credit-card-pay" class="aegis-button aegis-dark">Get Started</button>

<router-outlet></router-outlet>